/* El fondo oscuro que tapa toda la pantalla */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #0005; /* Negro con 60% de transparencia */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 500; /* Asegura que esté por encima de TODO, incluso el Header */
}

/* La cajita blanca del formulario */
.modal-contenido {
  background-color: white;
  width: 400px;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-height: 90vh;

  animation: aparecerModal 0.2s ease-out;
  /* - aparecerModal: El nombre de la animación que definimos abajo.
       - 0.2s: La duración (igual que en la alerta para consistencia).
       - ease-out: Hace que la animación empiece rápido y desacelere al final.
    */
}

.modal-header {
  background-color: #2c3e50;
  color: white;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header h3 {
  margin: 0;
  font-size: 1.2rem;
}


.modal-body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;

  overflow-y:auto;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: left;
}

.form-group input, .form-group textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: inherit;
}

.modal-footer {
  padding: 15px 20px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  background-color: #f9f9f9;
  border-top: 1px solid #eee;
}

@keyframes aparecerModal {
  from {
    transform: scale(0.9);
    /* Empieza un poco más pequeño */
    opacity: 0;
    /* Y completamente transparente */
  }

  to {
    transform: scale(1);
    /* Termina en su tamaño original */
    opacity: 1;
    /* Y totalmente visible */
  }
}